<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h1>Edit Order</h1>
    <form th:action="@{/orders/{id}(id=${order.id})}" th:method="put" th:object="${order}">
        <div class="form-group">
            <div class="form-group">
                <label>Order Date:</label>
                <input type="datetime-local" class="form-control" th:field="*{orderDate}" required />
            </div>
            <label>Customer:</label>
            <select class="form-control" th:field="*{customer.id}" required>
                <option th:each="customer : ${customers}"
                        th:value="${customer.id}"
                        th:text="${customer.lastName} + ' ' + ${customer.firstName} + ' / ' + ${customer.email}">
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Save Changes</button>
        <a th:href="@{/orders}" class="btn btn-secondary">Back to Orders</a>
    </form>
</div>
</body>
</html>
